.authorBox {
    display: flex;
    align-items: center;
}

.authorBox svg {
    position: absolute;
    right: 50px;
}

.authorBox svg:hover {
    cursor: pointer;
}

.comment {
    margin-top: 5px;
    margin-left: 10px;
}

.date {
    font-size: 0.7rem;
    margin-left: 10px;
    color: rgb(210, 210, 210)
}
