.postBox {
    display: flex;
}


.postTextBox {
    width: 80%;
    margin: auto 0;
}

.postBtnBox {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.postBtnBox label {
    margin-top: 5px;
}

.postBtnBox button {
    margin: 0 20px;
    width: 100px;
}

.fileUpload {
    display: none;
}

.formContainer {
    border-bottom:  1px solid var(--line-color);
    padding-bottom: 10px;
    margin-bottom: 10px;
}