.btn {
    width: 250px;
    height: 35px;
    background-color: rgb(29, 155, 240);
    color: white;
    border-radius: 50px;
    margin-bottom: 10px;
    border: none;
    display: block;
    transition: background-color 1s;
    -webkit-transition: background-color 1s;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(0, 142, 236);
}