.heroimage {
    border-radius: 500px;
    overflow: hidden;
    width: 50px;
    height: 50px;
    margin: 10px;
    display: block
}

@media screen and (max-width: 600px) {
    .heroimage {
        width: 30px;
        height: 30px;
    }
}