.input {
    display: block;
    width: 250px;
    height: 35px;
    background-color: white;
    color: black;
    border-radius: 50px;
    margin-bottom: 10px;
    border: none;
    text-align: center;
}

.input::placeholder {
    text-align: center;
}