.layout {
    display: flex;
    justify-content: center;
}

.main {
    border-left: 1px solid var(--line-color);
    border-right: 1px solid var(--line-color);
    width: 100%;
    max-width: 600px;
}