.btn button {
    display: block;
    background-color: white;
    color: black;
}

.btn div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn span {
    margin-left: 3px;
}